.person-card {
	background:#fff;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	padding:1.5rem;
	height:100%;

	h3 {
		margin:0 0 1rem 0;
		font-size:2rem;
		font-weight:bold;
	}

	.card-details-list li {
		margin-bottom:1rem;
		&:last-child {
			margin-bottom:0;
		}
	}
}
